.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: start;
}

.App-link {
  color: #09d3ac;
}

.Button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(19, 145, 230);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Button:hover {background-color: #1321a1}

.Button:active {
  background-color: #82a7ec;
  box-shadow: 0 5px rgb(29, 21, 102);
  transform: translateY(4px);
}

.ViewSongs{
  
    border: 2px solid rgb(158, 157, 165);
    border-radius: 5px;
    background-color: #737579;
    font-size: large;
    font-style: italic;
  padding: 20px;
  }






